VITE_BACKEND=http://localhost:1337
VITE_DOSU_BACKEND=http://localhost:1338
VITE_DOSU_FRONTEND=http://localhost:3000
VITE_ENCRYPT_KEY=123
VITE_ETH_NETWORK=ropsten
VITE_INFURA_ID=123
VITE_FORTMATIC_KEY=pk_test_123
VITE_FORMATIC_RPC=https://rpc-mainnet.maticvigil.com
VITE_BITSKI_CLIENT_ID=123
VITE_ETH_NETWORK=ropseten
VITE_INVITES_CONTRACT_ADDRESS=0x37C897117256cA9053965FC9F522e2F05f40AdF1
