@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --orb: #ffffff;
  --accent: #fed823;
  --accent-hover: #fed950;
  --primary: #15a1fc;
  --secondary: #ff7bed;
  --tertiary: #01feb6;
  --formal-accent: #efecd6;

  --error: #ff7b83;
  --error-dark: #3e1b1e;

  --primary-dark: #0d0030;
  --primary-light: #bff5fa;
  --primary-dimmed: #3a00d6;
  --primary-semi-dimmed: #4b61d5;
  --primary-background: #1a0259;
  --primary-dark-red: #210030;

  --accent-light-transparent: #ff7bed69;
  --secondary-light-transparent: #fed82369;
  --accent-light-active-transparent: #ff7bed9e;
  --secondary-light-active-transparent: #fed8239e;

  --accent-semi-transparent: rgba(254, 216, 35, 0.4);
  --primary-semi-transparent: rgba(21, 161, 252, 0.5);
  --secondary-semi-transparent: rgba(255, 123, 237, 0.5);
  --tertiary-semi-transparent: rgba(1, 254, 182, 0.4);
  --formal-accent-semi-transparent: rgba(239, 236, 214, 0.4);
  --error-semi-transparent: rgba(255, 123, 131, 0.2);
  --selection: #ff7bed35;
}

html {
  background-color: var(--primary-dark);
  scrollbar-color: var(--accent) transparent;
  scrollbar-width: thin;
}
body {
  scroll-behavior: smooth;
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'JetBrains Mono', monospace;
  color: var(--formal-accent);
  /* Grid */
  background: conic-gradient(
      from 90deg at 0.06rem 0.06rem,
      var(--primary-dark) 90deg,
      var(--primary-background) 0
    )
    0 0/3rem 3rem;
}

::selection {
  background: var(--selection);
}
::-moz-selection {
  background: var(--selection);
}

/* Add hyphens to the text block */
.hyphensAuto {
  hyphens: auto;
  line-height: initial;
}
.hyphensAuto > span + span {
  padding-left: 6px;
}
/* Grid for mobiles */
@media screen and (max-width: 600px) {
  body {
    background: conic-gradient(
        from 90deg at 0.06rem 0.06rem,
        var(--primary-dark) 90deg,
        var(--primary-background) 0
      )
      0 0/2rem 2rem;
  }
}
@media (hover: hover) and (pointer: fine) {
  .hover-tertiary:hover {
    color: var(--tertiary);
    text-decoration: underline;
  }
}

/* for each badge number 1, 4, 7 + before-last */
.double-badge-last-row:nth-child(n + 1):nth-child(3n - 2):nth-last-child(2),
/* for each badges number 2, 6, 8, not 1, 4, 7, not 3, 6, 9 + only last  */
.double-badge-last-row:nth-child(n + 2):not(:nth-child(3n
      -
      2)):not(:nth-child(3n)):last-child {
  grid-column: span 3 / span 3;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 25px;
}
::-webkit-scrollbar-track {
  background: linear-gradient(
    90deg,
    transparent 47%,
    var(--accent) 47%,
    var(--accent) 51%,
    transparent 52%
  );
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 20px;
  background-clip: content-box;
  border: 8px solid transparent;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-hover);
  border-radius: 20px;
  background-clip: content-box;
  border: 7.5px solid transparent;
}

@keyframes tertiarySphereAnimation {
  20% {
    /* Animation starts after 20% of page is scrolled */
    transform: translate(0rem, 0rem);
  }
  40% {
    /* Orb before SuperOrb */
    transform: translate(0rem, 44.688rem);
  }
  50% {
    /* Orb going into SuperOrb */
    transform: translate(4.7rem, 44.688rem);
  }
  60% {
    /* Orb before fork */
    transform: translate(4.7rem, 67.5rem);
  }
  64% {
    /* Orb to the ID Card */
    transform: translate(-0.63rem, 73.75rem);
    opacity: 1;
  }
  65% {
    /* Orb goes and stays behind ID card */
    /* Reveal animation happens inside IdentityCard */
    transform: translate(-0.563rem, 86.438rem);
    opacity: 0;
  }
  100% {
    /* Stay behing the card always*/
    transform: translate(-0.563rem, 86.438rem);
    opacity: 0;
  }
}
@keyframes accentSphereAnimation {
  20% {
    transform: translate(0rem, 0rem);
  }
  40% {
    transform: translate(0rem, 45.313rem);
  }
  50% {
    transform: translate(0rem, 45.313rem);
  }
  60% {
    transform: translate(0rem, 70rem);
  }
  64% {
    transform: translate(-5.313rem, 75.625rem);
    opacity: 1;
  }
  65% {
    transform: translate(-5.313rem, 88.438rem);
    opacity: 0;
  }
  100% {
    transform: translate(-5.313rem, 88.438rem);
    opacity: 0;
  }
}
@keyframes secondarySphereAnimation {
  20% {
    transform: translate(0rem, 0rem);
  }
  40% {
    transform: translate(0rem, 44.063rem);
  }
  50% {
    transform: translate(-4.7rem, 44.063rem);
  }
  60% {
    transform: translate(-4.7rem, 67.5rem);
  }
  64% {
    transform: translate(0rem, 72.5rem);
    opacity: 1;
  }
  65% {
    transform: translate(0.375rem, 85.625rem);
    opacity: 0;
  }
  100% {
    transform: translate(0.375rem, 85.625rem);
    opacity: 0;
  }
}

.custom-qr-code canvas {
  max-width: 8.75rem;
}

/* Wallet select menu for dark and light theme */
.web3modal-modal-lightbox {
  z-index: 100 !important;
}
