@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--accent-white);
  font-family: var(--font-secondary);
  /* Grid */
  background: conic-gradient(
      from 90deg at 1px 1px,
      var(--blue-100) 90deg,
      var(--blue-200) 0
    )
    0 0/48px 48px;
}

:root {
  /* Main colors */
  --blue-100: #0d0030;
  --blue-200: #1a0259;
  --blue-300: #3a00d6;
  --blue-400: #4b61d5;
  --blue-500: #15a1fc;
  --blue-600: #bff5fa;

  --accent-orange: #f1962e;
  --accent-pink: #ff7bed;
  --accent-yellow: #fed823;
  --accent-green: #01feb6;
  --accent-white: #efecd6;

  --shadow-indent: 0px 4px 44px;
  --shadow-pink: rgba(255, 123, 237, 0.5);
  --shadow-yellow: rgba(254, 216, 35, 0.4);
  --shadow-blue: rgba(21, 161, 252, 0.5);
  --shadow-white: rgba(239, 236, 214, 0.3);

  --font-primary: 'Space Grotesk', sans-serif;
  --font-secondary: 'JetBrains Mono', monospace;

  /* Font sizes */
  --40: 2.25rem;
  --18: 1.125rem;
}

.web3modal-modal-lightbox {
  z-index: 100 !important;
  --toastify-font-family: var(--font-primary);
}
